/*body{
    background-image: url('../img/congruent_pentagon.png');
}
*/

body{
    background-color: #118AB2;
}

.jumbotron{
    background-color:  #118AB2;
    color: white;
}

.navbar{
    background-color: #073B4C !important;
}

.nav-link:link, .nav-link:visited{
    color: white !important;
}

.nav-link:hover, .nav-link:active{
    color: #06D6A0 !important; 
}

.registro-title{
    text-align: center;
    padding-bottom: 10px;
}

.ingreso-title{
    text-align: center;
    padding-bottom: 10px;
}

.form-container{
    background: #fff;
    padding: 30px;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.btn{
    background: #118AB2;
}