/*body{
    background-image: url('../img/congruent_pentagon.png');
}
*/

body{
    background-color: #118AB2;
}

.jumbotron{
    background-color:  #118AB2;
    color: white;
}

.navbar{
    background-color: #073B4C !important;
}

.navbar-brand:link, .navbar-brand:visited{
    color: white;
}

.navbar-brand:hover, .navbar-brand:active{
    color: #06D6A0 !important; 
}

#navbar li a:link, #navbar li a:visited {
    color: white;
}

#navbar li a:hover, #navbar li a:active {
    color:#06D6A0 !important; 
}

.registro-title{
    text-align: center;
    color: #777;
    padding-bottom: 10px;
}

.form-container{
    background: #fff;
    padding: 30px;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.btn{
    background: #118AB2;
}