
body{
      background-color: #118AB2;  
     /*background-color: #2a9d8f;  */
     /* background-color: #ef476f;  */
}


.navbar{
    background-color: #073B4C !important;
}

.nav-link:link, .nav-link:visited{
    color: white !important;
}

.nav-link:hover, .nav-link:active{
    color: #06D6A0 !important; 
}

.carousel-item{
    width: 100%;
    /* height: 300px; */
    height: 400px;

}

@media (max-width: 600px){
    .carousel-item{
        height: 280px;
    }
}

.publicacion-title{
    text-align: center !important;
    padding-bottom: 10px !important;
    color: white!important; 
    /* color: #000 !important; */
}

.title{
    text-align: center;
    padding-bottom: 10px;
}

.form-container{
    background: #fff;
    padding: 30px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container2{
    background: #fff;
    padding: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.btn{
    background: #118AB2;
}

.menu__option {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;
    position: relative;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px 0px #000;
    color: #000;
    text-align: center;
    border-radius: 10px;
    max-width: 180px;
    height: 180px;
    text-decoration: none;
    margin: auto;
    font-weight: 500;
    
}

.menu__option:hover {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px #fff;
    color: #000;
    text-decoration: none;
}

.main-menu__options {
    margin: 40px 0 60px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: stretch;
    font-weight: 700;
    margin: 20px 0 30px;
}

.option__image {
    width: 50%;
    margin-bottom: 5px;
    display: block;
    min-height: 75px;
    margin: 0 auto 20px;
}

/*----------------calendario----------------*/

a{
    color: #000;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.form-calendar-container{
    background: #fff;
    padding: 35px;
    margin-top: 3vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
  
  #header {
    padding: 5px;
    color: #000;
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }

  #header button {
    background-color:#118AB2;
    font-size: 10px;
  }
  #container {
    width: 100%;
  }

  #weekdays {
    width: 100%;
    display: flex;
    font-family: sans-serif;
    color: #000;
  }

  #weekdays div {
    width: 100%;
    padding: 10px;
    font-size: 10px;
  }

  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 13%;
    padding: 10px;
    height: 65px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 2px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #b8f0e9;
  }
  
  .day + #currentDay {
    background-color:#bce2f5;
  }

  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }